	* 
	{
		margin:0;
		padding:0;
		font-family: "微软雅黑";
		background-color: rgb(255, 255, 255);
		line-height:0.5636rem;
	}
	.header 
	{
		position: fixed;
		z-index:6;
		width:10rem;
		height:1.23rem;
		background-color: rgb(188, 83, 38);
	}
	.logo
	{
		width:3.125rem;
		position: relative;
		top:0.0625rem;
		left:0.15625rem;
		background-color: rgb(188, 83, 38);
	}
	.search-box
	{
		width:6.2rem;
		height:0.9rem;
		display: inline-block;
		position: absolute;
		top:0.12rem;
		left:3.5rem;
		background-color: rgb(188, 83, 38);
	}
	.search-box img 
	{
		width:0.36rem;
		position: absolute;
		top:0.3rem;
		left:0.3rem;
		background-color: antiquewhite;
	}
	.search-box input
	{ 
		width:6.2rem;
		height:0.9rem;
		font-size:0.5rem;
		padding-top:0.38rem;
		padding-left:0.9rem;
		padding-bottom:0.3333rem;
		font-family:"微软雅黑";
		color: rgb(116, 112, 111); 
		border:none;
		border-radius:0.15625rem;
		background-color: antiquewhite;
	}
	.search-box input::-webkit-input-placeholder 
	{
		/* placeholder颜色  */
		color: #aab2bd;
		/* placeholder字体大小  */
		font-size:0.4725rem;
		/* placeholder位置  */
		text-align:left;
		line-height:0.625rem;
	}
	.line
	{
		width:10rem;
		position:fixed;z-index:7;
		top:2.2rem;
		border-bottom:0.02rem solid rgb(178,178,178);
	}
	.nav-top
	{
		position:fixed;z-index:7;
		top:1.46rem;
	}
	.nav-top-item
	{
		font-size:0.5rem;
		color:black;
		padding-left:0.375rem;
	}
	#nav-bottom
	{
		background-color: rgb(238,238,238);
	}
	#nav-bottom .nav-bottom-item
	{
		border-top:0.01rem solid rgb(178,178,178);
		background-color: rgb(249,248,248);
		position: relative;
		left:0.0005rem;
	}
	#nav-bottom .nav-bottom-item img
	{
		display:inline-block;
		width:0.7rem;
		background-color: rgb(249,248,248);
		position: relative;
		top:-0.09375rem;
		left:0.41rem;
	}
	#nav-bottom .nav-bottom-item span
	{
		display:inline-block; 
		position:relative;
		left:-0.33rem;
		text-align:center;
		font-size:0.35rem;
		top:0.35rem;
		background-color: rgb(249,248,248);
		color:rgb(121,126,131)
	}
	#nav-bottom #index img
	{
		display:inline-block;
		width:0.7rem;
		background-color: rgb(249,248,248);
		position: relative;
		top:-0.09375rem;
		left:0.41rem;
	}
	#nav-bottom #hot img
	{
		width:0.85rem;
		top:-0.1rem;
		left:0.39rem;
	}
	#nav-bottom #hot span
	{
		top:0.26rem;
		left:-0.445rem;
	}
	#nav-bottom #column img
	{
		width:0.65rem;
		top:-0.1rem;
	}
	#nav-bottom #column span
	{
		top:0.345rem;
	}
	#nav-bottom #user img
	{
		top:-0.1rem;
		left:0.23rem;	
	}
	#nav-bottom #user span
	{
		top:0.3125rem;
		left:-0.36rem;
	}
	#nav-bottom .nav-bottom-item span
	{
		display:inline-block; 
		position:relative;
		left:-0.33rem;
		text-align:center;
		font-size:0.35rem;
		top:0.35rem;
		background-color: rgb(249,248,248);
		color:rgb(121,126,131)
	}
	#content
	{
		background-color: #fff;
		top:2.21875rem;
	}
			.mui-content 
			{
				background: #fff;
				width:10rem;
				padding: 0 0.3135rem;
			}
			.type-one,
			.type-two,
			.type-three 
			{
				padding: 0.3135rem 0;
				border-bottom: 0.03135rem solid #E7E7E7;
			}
			.title 
			{
				color: #202020;
				font-size:0.5rem;
			}
			.mide-div 
			{
				position: relative;
				margin: 0.15625rem 0;
			}
			.mide-div-img {
				height:2.5rem;
				width:1.152rem;
			}
			.type-bottom 
			{
				width:10rem;
			}
			.type-bottom span 
			{
				color: #9B9B9B;
				font-size: 0.46875rem;
			}
			.type-delete 
			{
				border:0.03125rem solid #ACACB4;
				position:relative;
				left:2.75rem;
			}
			
			.video-img 
			{
				width:10rem;
				height:4.375rem;
			}
			.video-time 
			{
				position: absolute;
				bottom: 0.3125rem;
				right: 4.375rem;
				font-size: 0.375rem;
				border-radius:2.5rem;
				padding:0.0625rem 0.125rem;
				opacity: 0.5;
				background-color: #494F4F;
			}
			.video-play-buttom 
			{
				width: 1.25rem;
				position: absolute;
				height: 1.25rem;
				top: 0.10625rem;
				left: 0.16rem;
				opacity:0.5;
				background-color: transparent;
				background-size: cover;
				background-image: url(../imgs/play.png);
			}
	
