			* {
				margin:0;
				padding:0;
				font-family: "微软雅黑";
				background-color: rgb(255, 255, 255);
			}
			.head {
				position: fixed;
				z-index:6;
				width:6.4rem;
				height:1.024rem;
				background-color: rgb(255, 90, 5);
			}
			.appName {
				width:2.56rem;
				color: navajowhite;
				font-family: "仿宋";
				font-size:0.512rem;
				text-align: center;
				letter-spacing: -0.08rem;
				position: absolute;
				top: 0.24rem;
				left:-0.192rem;
				background-color:rgb(255, 90, 5);
			}
			.search {
				width: 3.968rem;
				height:0.64rem;
				display: inline-block;
				position: absolute;
				top:0.128rem;
				left:2.24rem;
				background-color: rgb(255, 90, 5);
			}
			
			.search img {
				width:0.35712rem;
				position: absolute;
				top:0.1536rem;
				left:0.16rem;
				background-color: antiquewhite;
			}
			.search input { 
				width:3.968rem;
				height:0.64rem;
				color: rgb(116, 112, 111); 
				padding-top:0.24rem;
				font-family: "微软雅黑";
				font-size: 0.3136rem;
				text-indent:1em;
				border-radius:0.1rem;
				background-color: antiquewhite;
				border:none;
			}
			.nav {
				position: absolute;
				z-index:1;
				top:0.96rem;
				border-bottom: 1rem solid rgb(255, 90, 5);
			}
			.line
			{
				width:6.4rem;
				position: absolute;z-index:8;
				top:1.70rem;
				border-bottom: 0.022rem solid #E7E7E7;
			}
			.nav_scoll 
			{
				position: absolute;
				bottom:0rem;
				background-color: white;
			}
			.nav_scoll a {
				color: black;
				font-size:0.32rem;
				padding-left: 0.24rem;
				position: relative;
				top: 0.22rem;
			}
			.nav_bottom {
				background-color: white;
				color: white;
			}
			.nav_bottom span {
				color: black;
			}
			.nav_bottom a
    		{
    			position:relative;
    			top:0.20rem;
    		}
			.mui-content {
				background: #fff;
				width:6.4rem;
				padding: 0 0.2rem;
			}
			
			.type-one,
			.type-two,
			.type-three {
				padding: 0.2rem 0;
				border-bottom: 0.02rem solid #E7E7E7;
			}
			.title {
				color: #202020;
				font-size: 0.4rem;
			}
			
			.mide-div {
				position: relative;
				margin: 0.1rem 0;
			}
			
			.mide-div-img {
				height:1.6rem;
				width:0.73728rem;
			}
			
			.type-bottom {
				width:6.4rem;
			}
			
			.type-bottom span {
				color: #9B9B9B;
				font-size: 0.3rem;
			}
			
			.type-delete {
				border:0.02rem solid #ACACB4;
				position:relative;
				left:1.76rem;
			}
			
			.video-img {
				width: 6.4rem;
				height: 2.8rem;
			}
			
			.video-time {
				position: absolute;
				bottom: 0.2rem;
				right: 2.8rem;
				font-size: 0.24rem;
				border-radius:1.6rem;
				padding:0.04rem 0.08rem;
				opacity: 0.5;
				background-color: #494F4F;
			}
			
			.video-play-buttom {
				width: 0.8rem;
				position: absolute;
				height: 0.8rem;
				top: 0.06799999rem;
				left: 0.16rem;
				opacity: 0.8;
				background-color: transparent;
				background-size: cover;
				background-image: url(imgs/play.png);
			}